.about {
  position: relative;
  z-index: 1;
  padding: 100px 15%;
  background-color: transparent;
}

.about h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #fff;
  font-family: "Saira Stencil One", sans-serif;
  letter-spacing: 4px;
}

.about p {
  font-size: 1.7rem;
  line-height: 1.6;
  color: #bebebe;
  font-family: sans-serif;
}
